asgiref 
brotlipy 
certifi==2021.10.8
cffi 
charset-normalizer 
cryptography 
Django==2.2.5
idna 
lxml 
multitasking 
numpy 
pandas 
plotly 
pycparser 
pyOpenSSL 
PySocks 
python-dateutil 
pytz 
requests 
six 
sqlparse 
tenacity 
typing_extensions 
urllib3 
win-inet-pton 
wincertstore==0.2
yfinance 
